*{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    margin-top: 2%;
}
.flex-container{
    display: block;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    margin-left: -1.5em;
}
h1{
    color: rgb(251, 6, 6);
    font-size: 75px;
    font-weight: 500;
}
h2{
    font-weight: 400;
    color: rgb(48, 47, 47);
    margin-top: -0.5em;
    margin-bottom: 2.5em;
}
.inner{
    margin-left: 1.5em;
}
p{
    text-align: left;
    margin-left: 38%;
    margin-bottom: 0.2em;
    font-weight: 600;
    color: rgb(80, 80, 80);
}
input{
    border: none;
    border-bottom: 1px solid black;
    font-weight: 500;
    width: 22.5em;
    height: 3em;
    
}
::placeholder{
    text-align: left;
    font-weight: 600;
}
button{
    background-color: rgb(247, 10, 10);
    border: none;
    width: 14em;
    height: 3.1em;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    margin-top: 1em;
}
button:hover{
    opacity: 0.7;
}

body {
    background-image: url('templates\image.jpg');
    color: #FFFFFF;
}